body {
    background-color: #f2a65a;
    font-family: "Quicksand", sans-serif;
}

.content-blurb-color h2 {
    color: #c32f27;
    font-weight: 100;
    font-size: 2.5rem;
}

.content-blurb-color p {
    color: #bc3908;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 2.2rem;
}
.content {
    margin-top: 50px;
    margin-bottom: 50px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #c32f27;
}

#mainNavbar .navbar-brand {
    color: #c32f27;
    font-size: 1.5rem;
   
}

#headingGroup span {
    color: #c32f27;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
}

.navbar.scrolled {
    background-color: #fb8500;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2.5rem;
    }
}
